<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form action="/file/upload" method="post" enctype="multipart/form-data">
        <label for="file"><h2>File:</h2></label><br/>
        <input type="file" name="file" id="file"><br/><br/>
        <button>Upload</button>
    </form>
</body>
</html>